<h1>Single User Page</h1>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Photo:</strong> <%= @user.photo %></p>
<p><strong>Bio:</strong> <%= @user.bio %></p>
<p><strong>Post Counter:</strong> <%= @user.posts_counter %></p>
<%= link_to 'Back to All Users', users_path %>